extends layout.pug

block content 
  .container 
    h1 "This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service"
    a(href='/info') Create employee

     