doctype html
html(lang="en")
  head
    title 14362
    link(rel="stylesheet", href="/static/styles.css")
  body 
    header.navbar 
      h1 
       a(href='/') Worker database
       nav.nav 
        a(href='/create') Add Employee 
        a(href='/workers') All Employee

    block content
          